.dark-background{
    background-color: #0b0b0b;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size: cover;
    height: 100vh;
}

.bulb-image{
    width: 150px;
    height: 150px;
}

.cat-image{
    width: 250px;
    height: 150px;
}

.switch-borad{
    width: 294px;
    height: 139px;
    background-color: #7b8794;
    border-radius: 12px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px;
}

.switch-status{
    font-family:"Roboto";
    font-weight: 400PX;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 24px;
}

.on-switch{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    border-radius: 8px;
    width: 99px;
    height: 44px;
    background-color: #cbd2d9;
}

.off-switch{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    border-radius: 8px;
    width: 99px;
    height: 44px;
    background-color: #e12d39;    
}

.center-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}